 @model WebApplication1.Models.PersonaModel
@{
    ViewBag.Title = "Index";
}

<form action="/Prueba/Index" method="post">
    <input type="text" name="Id" />
    <input type="text" name="Identificacion" />
    <input type="text" name="Nombre" />
    <input type="submit">
</form>

